@section Title {
        
}


<div style="width:300px;margin:100px auto;">
   <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="card shadow-lg border-0 rounded-4 p-4" style="width: 380px;">
            <div class="card-body">
                <h2 class="text-center mb-4 text-primary fw-bold">
                    <i class="bi bi-person-lock me-2"></i>Đăng nhập Admin
                </h2>

                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Tên đăng nhập</label>
                        <input type="text" name="Username" class="form-control" placeholder="Nhập tên đăng nhập" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Mật khẩu</label>
                        <input type="password" name="Password" class="form-control" placeholder="Nhập mật khẩu" required />
                    </div>

                    <div class="d-grid mt-4" style="margin-top:5px">
                        <button type="submit" class="btn btn-primary rounded-pill py-2 fw-semibold">
                            <i class="bi bi-box-arrow-in-right me-1" style="margin-right:6px"></i>Đăng nhập
                        </button>
                    </div>

                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger text-center mt-3 fw-semibold">@ViewBag.Error</p>
                        }
                </form>
            </div>
        </div>
    </div>

</div>

